@using BlazorProject.Services
@attribute [Route(PageRoutes.Counter)]
@rendermode InteractiveServer
@inject ILogger<Counter> Logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

@if (currentCount < 10) {
    <p role="status">Current count: @currentCount</p>

    <button
        class="btn btn-primary"
        @onclick="IncrementCount"
    >
        Click
    </button>

    <MyButton
        MyOnClick="IncrementCount"
        class="btn btn-success"
    >
        The button's child content
    </MyButton>
}
else {
    <p>You win!</p>
}

<div class="mt-3">
    @* <input @oninput="OnInput" value="@text"/> *@
    <input
        @bind="text"
        @bind:event="oninput"
        @bind:after="Search"
    />
    <button @onclick="OnClick">Clear</button>
    <p>@text</p>
    <p>@searchResults</p>
</div>

<MudForm>
    <MudSelect
        T="string"
        Required
        @bind-Value="Selection"
    >
        <MudSelectItem Value="@("Option 1")"/>
        <MudSelectItem Value="@("Option 2")"/>
    </MudSelect>

    <MudButton
        OnClick="@SetOptionFromSelection"
    >
        Submit
    </MudButton>
</MudForm>

<div>
    You selected: @(string.IsNullOrEmpty(selectedOption.Name) ? "nothing" : selectedOption.Name)
</div>

@code {
    private int currentCount = 0;

    string text = "";

    string searchResults = "";

    private void IncrementCount(MouseEventArgs e) => currentCount++;

    [Parameter] public int IncrementAmount { get; set; } = 1;

    private void OnInput(ChangeEventArgs obj) => text = (string)obj.Value!;

    private void OnClick(MouseEventArgs e) => text = "";

    async private Task Search() {
        searchResults = $"You searched for {text}";
        await Task.Delay(500);
        searchResults = $"Found {(Random.Shared.Next(2).Equals(1) ? "some" : "no")} results.";
    }

    private string Selection = string.Empty;

    private Option selectedOption = new();

    // This method is possible to run even if nothing is selected because Selection is initialized to an empty string
    // and then the Option object has an empty string as Name.
    private void SetOptionFromSelection() {
        Logger.LogInformation("Setting option from selection: {Selection}", Selection);
        selectedOption = new() { Name = Selection };
    }

    private class Option {
        public string Name { get; set; } = string.Empty;
    }

}