@using BlazorProject.Data
@using Microsoft.VisualBasic.CompilerServices
@attribute [Route(PageRoutes.Edit_Asset_Type)]
@inject AssetRepository AssetRepository
@inject ILogger<EditAssetType> Logger
@inject IJSRuntime JS
@implements IDisposable

<h2>@nameof(PageRoutes.Edit_Asset_Type).Replace("_", " ")</h2>

<br/>

@* NOTE: Mud Dropzone *@
<h3 style="margin-top: 150px">With Mud Dropzone</h3>

<MudDropContainer
    T="Asset"
    Items="AllAssets"
    ItemsSelector="@((item, dropzone) => item.Type.ToString() == dropzone)"
    ItemDropped="OnItemDroppedAsync"
    Class="dropContainer"
    CanDropClass="mud-dropzone"
>
    <ChildContent>
        @foreach (var type in Enum.GetValues<AssetType>()) {
            <MudDropZone
                T="Asset"
                Identifier="@type.ToString()"
                Class="dropZone"
            >
                <MudText Typo="Typo.h6" Class="mb-4" >
                    @type
                </MudText>
            </MudDropZone>
        }
    </ChildContent>
    <ItemRenderer>
        <MudPaper
            Elevation="25"
            Class="pa-4 my-4"
        >
            @context.Name
        </MudPaper>
    </ItemRenderer>
</MudDropContainer>

<br/>

@* NOTE: BlazorSortable *@
<h3 style="margin-top: 150px">With BlazorSortable</h3>

<div class="dropContainer">
    @foreach (var type in Enum.GetValues<AssetType>()) {
        <div class="dropZone">
            <MudText Typo="Typo.h6" Class="mb-4" >
                @type
            </MudText>

            <Sortable
                Items="AllAssets.Where(a => a.Type == type).ToList()"
                Id="@type.ToString()"
                Group="Group1"
                OnAdd="OnItemDroppedAsync"
            >
                <MudPaper Elevation="25" Class="pa-4 my-4" Style="cursor: grab;" >
                    @context.Name
                </MudPaper>
            </Sortable>
        </div>
    }
</div>

<br/>

@* NOTE: With my own JS *@
<h3 style="margin-top: 150px">With my own JS</h3>

<div class="dropContainer">
    @foreach (var type in Enum.GetValues<AssetType>()) {
        <div class="dropZone" data-asset-type="@type" >
            <MudText Typo="Typo.h6" Class="mb-4">
                @type
            </MudText>

            @foreach (var asset in AllAssets.Where(a => a.Type == type)) {
                <div draggable="true" data-asset-name="@asset.Name" data-asset-type="@asset.Type" style="cursor: grab;" >
                    <MudPaper Elevation="25" Class="pa-4 my-4" >
                        @asset.Name
                    </MudPaper>
                </div>
            }
        </div>
    }
</div>

@* Extend scrolling *@
<div style="height: 600px"/>

@code {

    protected override async Task OnInitializedAsync() {
        AllAssets = await AssetRepository.GetAllAssetsAsync();
    }

    private List<Asset> AllAssets = [];

    // NOTE: For the Mud Dropzone
    private async Task OnItemDroppedAsync(MudItemDropInfo<Asset> dropItem) {
        dropItem.Item.Type = Enum.Parse<AssetType>(dropItem.DropzoneIdentifier);

        await AssetRepository.UpdateAssetAsync(dropItem.Item);

        // StateHasChanged(); // not needed, MudDropContainer calls it internally
    }

    // NOTE: For BlazorSortable
    private async void OnItemDroppedAsync(SortableEventArgs<Asset> eventArgs) {
        eventArgs.Item.Type = Enum.Parse<AssetType>(eventArgs.To.Id);

        await AssetRepository.UpdateAssetAsync(eventArgs.Item);

        await InvokeAsync(StateHasChanged); // is SignalR better?
    }

    // NOTE: My own JS
    private IJSObjectReference? _module;
    private DotNetObjectReference<EditAssetType>? _dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) return;

        // holds JavaScript interop resources that need cleanup, even if declared within this method
        _module = await JS.InvokeAsync<IJSObjectReference>(
            "import", "./Components/Pages/EditAssetType.razor.js");

        // creates a GC root that prevents garbage collection and causes memory leaks if not disposed
        // even if declared within this method
        _dotNetRef = DotNetObjectReference.Create(this);

        await _module.InvokeVoidAsync("initialize", _dotNetRef);
    }

    [JSInvokable]
    public async Task OnItemDroppedAsync(string assetName, string assetType) {
        await AssetRepository.UpdateAssetByNameAsync(assetName, assetType);

        await InvokeAsync(StateHasChanged); // doesn't work
    }

    // is called automatically when the user navigates away from the page, if IDisposable is implemented
    public void Dispose() {
        _module?.DisposeAsync();

        _dotNetRef?.Dispose();
    }
}