@page "/EventCallbackDemo"

<h3>EventCallbackDemo</h3>

<button @onclick="@Clicked">Sync</button>

<button @onclick="@ClickedAsync">Async</button>

@* Creating a lambda method to call the Clicked method: *@
<button @onclick="@(()=>Clicked())">Explicit</button> 

@* Combining an explicit expression with an inline delegate: *@
<button @onclick="@(async () => { Clicked();
                      await ClickedAsync();
                  })">Method</button>

<button @onclick="@ClickedWithArgs">With Args</button>
@code {

    void Clicked() { }
    
    Task ClickedAsync() {
        return Task.CompletedTask;
    }

    void ClickedWithArgs(MouseEventArgs args) {
        var y = args.ScreenY;
    }
}